<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>
    <fieldset>
        <p><?php echo $this->formRow($form->get('title')); ?></p>

    </fieldset>
<?php echo $this->formSubmit($form->get('submit'));?>