<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($categories as $category): /** @var $category \Application\Entity\Category */ ?>
        <tr>
            <td><?php echo $category->getTitle(); ?></td>
            <td>
                <a href="<?php echo $this->url('categorys',
                    array( 'action'  => 'edit'),
                    array( 'query' => array('id' => $category->getId()))); ?>" class="btn btn-warning">Edit</a>
                <a href="<?php echo $this->url('categorys',
                    array( 'action'  => 'delete'),
                    array( 'query' => array('id' => $category->getId()))); ?>" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>



