<p><span>Lorem ipsuomnis Deleniti ea quas vel!</span><span>Aliquam atque et impedit labore molestias nemo sequi, velit? Eaque, eveniet minus
        mollitia nam non quis repellat reprehenderit sapiente similique tempora unde, vitae voluptate voluptatem. Cumque facere fugit possimus provident!</span><span>Ab maiores molestiae numquam pariatur praesentium quaerat qui vel voluptatem! Deserunt illo mollitia nam. Animi dicta excepturi magni necessitatibus numquam quas similique ut. Ad aliquid doloribus id libero, quam vel!</span><span>Ab animi blanditiis corporis culpa delectus, dignissimos dolorem dolores est ex hic inventore labore magni omnis placeat qui quibusdam quod reiciendis, rem suscipit tempore vel vero vitae voluptatem voluptates voluptatibus.</span>
</p>

<div>
    <ol>
        <li>fdfdf</li>
        <li>dfdf</li>
        <li>dfdf</li>
        <li>fdfdf</li>
        <li>fdfdf</li>
    </ol>
</div>