<section id="carousel">
    <div class="col-md-12">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
                    <li class="" data-target="#myCarousel" data-slide-to="2"></li>
                    <li class="" data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <img class="second-slide img-responsive" src="/img/img.jpg" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Example headline.</h1>
                                <p>Note: If you're viewing this page via, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <img class="first-slide img-responsive" src="/img/img2.jpg" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Another example headline.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="third-slide img-responsive" src="/img/img3.jpg" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>One more for good measure.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="fourth-slide img-responsive" src="/img/img2.jpg" alt="fourth slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>One more for good measure.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- /.carousel -->
        </div>
    </div>
</section>

<section class="col-md-12">
    <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, asperiores aspernatur at
            consectetur est facilis incidunt laborum minima perferendis perspiciatis, qui quibusdam, voluptates
            voluptatum. Accusamus explicabo illum rerum sunt temporibus.</p>
        <p  class="strong">Aut ipsa laudantium odit possimus, quas soluta vitae. Accusamus commodi consequuntur culpa
            distinctio dolorum fugiat impedit iste itaque iusto magni modi nesciunt non nulla possimus quidem
            repudiandae ut, velit voluptatum?</p>
    </div>
    <div class="col-md-4">
        <p class="strong">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto cumque distinctio
            earum error esse ipsa minima numquam, officia possimus quos repudiandae rerum suscipit tempore tenetur totam
            vel vero voluptatem!</p>
        <p class="strong">Eius exercitationem facilis quisquam temporibus? Beatae ex harum, ipsam natus nostrum nulla
            officiis omnis tempore. Accusantium consequatur suscipit tempora! Asperiores dolor dolore, et ipsum
            molestiae optio quasi qui vero voluptatum!</p>
    </div>
    <div class="col-md-4">
        <p class="strong">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis, excepturi
            exercitationem facilis harum maxime nemo obcaecati officiis quas quibusdam quisquam repudiandae ut? Atque
            cumque eaque enim obcaecati. Quia.</p>
        <p class="strong">Ad amet aperiam, architecto aut beatae commodi consequuntur deleniti dignissimos dolorem esse
            expedita fugit inventore iste iure magnam modi natus nisi odio porro quas qui repellendus similique unde
            veniam voluptatem.</p>
    </div>
</section>
