<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>
    <fieldset>
        <p><?php echo $this->formRow($form->get('category'));?></p>
        <p><?php echo $this->formRow($form->get('title')); ?></p>
        <p><?php echo $this->formRow($form->get('description')); ?></p>
        <p><?php echo $this->formRow($form->get('price')); ?></p>
    </fieldset>
<?php echo $this->formSubmit($form->get('submit'));?>