<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($products as $product): /** @var $product \Application\Entity\Product */ ?>
            <tr>
                <td><?php echo $product->getTitle(); ?></td>
                <td><?php echo $product->getDescription(); ?></td>
                <td><?php echo $product->getPrice(); ?></td>
                <td>
                    <a href="<?php echo $this->url('products',
                        array( 'action'  => 'edit'),
                        array( 'query' => array('id' => $product->getId()))); ?>" class="btn btn-warning">Edit</a>
                    <a href="<?php echo $this->url('products',
                        array( 'action'  => 'delete'),
                        array( 'query' => array('id' => $product->getId()))); ?>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>



