<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

<?php echo $this->headLink()
           ->prependStylesheet($this->basePath(). '/css/style.css')
           ->prependStylesheet($this->basePath(). '/bootstrap/css/bootstrap.css')
           ->prependStylesheet($this->basePath(). '/bootstrap/css/bootstrap-theme.min.css'),
    
            $this->headScript()
                ->prependFile($this->basePath() . '/bootstrap/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/js/jquery-2.2.0.min.js')
                ->prependFile($this->basePath() . '/js/script.js')
?>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">Product Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/admin/product/create"> Create Product <span class="sr-only">(current)</span></a></li>
                        <li><a href="/admin/product/index"> Edit Product <span class="sr-only">(current)</span></a></li>
                        <li><a href="/admin/category/index">Category</a></li>
                        <li><a href="/admin/category">Category create</a></li>
                        <li><a href="/admin/product/carousel">Carousel</a></li>
                        <li><a href="/forms/form">Forms</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container"><?php echo $this->content; ?></div>

    <hr>
<footer>
    <p>&copy; 2005 - <?php echo date('D/M/Y') ?> by Vadim Golban Technology. <?php echo $this->translate('All rights reserved.') ?></p>
</footer>
</body>
</html>