<?php
echo $this->form()->openTag($form);
?>
    <fieldset>
        <p><?php echo $this->formRow($form->get('username')); ?></p>
        <p><?php echo $this->formRow($form->get('password')); ?></p>
        <label><p><?php echo $this->formRow($form->get('checkbox')); ?></p></label>
        <label><p><?php echo $this->formRow($form->get('checkbox')); ?></p></label>
        <label><p><?php echo $this->formRow($form->get('checkbox')); ?></p></label>

        <p><?php echo $this->formRow($form->get('collection')); ?></p>
        <p><?php echo $this->formRow($form->get('csrf')); ?></p>
        <p><?php echo $this->formRow($form->get('multi-checkbox')); ?></p>
        <p><?php echo $this->formRow($form->get('gender')); ?></p>
        <p><?php echo $this->formRow($form->get('language')); ?></p>
        <p><?php echo $this->formRow($form->get('textarea')); ?></p>
        <p><?php echo $this->formRow($form->get('submit')); ?></p>
        <p><?php echo $this->formRow($form->get('file')); ?></p>
        <p><?php echo $this->formRow($form->get('multi-file')); ?></p>
        <p><?php echo $this->formRow($form->get('hidden')); ?></p>
        <p><?php echo $this->formImage($form->get('image')); ?></p>
        <p><?php echo $this->formDateTime($form->get('monthyear')); ?></p>
        <p><?php echo $this->formDateTime($form->get('appointment-date')); ?></p>
        <p><?php echo $this->formRow($form->get('email')); ?></p>
        <p><?php echo $this->formRow($form->get('emails')); ?></p>
        <p><?php echo $this->formRow($form->get('quantity')); ?></p>
        <p><?php echo $this->formRow($form->get('range')); ?></p>
        <p><?php echo $this->formRow($form->get('color')); ?></p>
        <p><?php echo $this->formRow($form->get('webpage-url')); ?></p>
        <p><?php echo $this->formRow($form->get('captcha')); ?></p>
        <p><?php echo $this->formSubmit($form->get('button')); ?></p>
    </fieldset>

