<?php
echo $this->form()->openTag($form);
?>
<fieldset>
    <p><span style="font-weight:bold">Select a </span> <?php echo $this->formRow($form->get('category'));?></p>
</fieldset>
<div>
    <?php echo $this->formSubmit($form->get('submit'));?>
    <div class="text-right" style="margin: 5px 0">
        <a href="#" class="btn btn-danger send-ajax">Send AJAX</a>
        <a href="#" class="btn btn-warning send-ajax2">Send AJAX 2</a>
    </div>
</div>


<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($products as $product): /** @var $product \Application\Entity\Product */ ?>
        <tr>
            <td><?php echo $product->getTitle(); ?></td>
            <td><?php echo $product->getDescription(); ?></td>
            <td><?php echo $product->getCategory()->getTitle() ;?></td>
            <td><?php echo $product->getPrice(); ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>

</table>

<script type="text/javascript">
    $(function () {

        $('.send-ajax').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'GET', // по умолчанию get, эту строку можно не указывать если отсылается гет запрос
                url: '/ajax',
                success: function(data) {
                    console.log(data);

                    var row = '<tr><td>' + data['title'] +'</td><td>' + data['description'] + '</td><td>' + data['category'] + '</td><td>' + data['price'] + '</td></tr>';
                    var $tbody = $('.table-striped').find('tbody').append(row);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {

        $('.send-ajax2').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'GET', // по умолчанию get, эту строку можно не указывать если отсылается гет запрос
                url: '/ajaxTwo',
                success: function(data) {
                    console.log(data);

                    var row = '<tr><td>' + data['title'] +'</td><td>' + data['description'] + '</td><td>' + data['category'] + '</td><td>' + data['price'] + '</td></tr>';
                    var $tbody = $('.table-striped').find('tbody').append(row);
                }
            });
        });
    });
</script>



